/* ---Colour Palette---
Main:                 #68E152 - Green
Main complement:      #9AE184 - Soft Green
Secondary:            #E0DD4C - Yellow
Secondary complement: #DCE07F - Soft Yellow
Black:                #002100 - Black
White:                #F5FFF5 - White
 */

body {
    margin: 0;
    padding: 2rem;
}

nav {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background-color: #68E152;
    border-radius: 1rem;
}

.footer-image {
    width: 60px;
    height: auto;
    color: #002100;
}

.hero {
    background-image: url('/img/MapPlaceholder.png');
    background-size: cover;
    background-position: center;
    min-height: 75vh;
}

.map-container {
    position: relative;
    width: 100%;
    height: 65vh;
    margin: 2rem 0;
    background-color: #DCE07F;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
