body {
    margin: 0;
    padding: 2rem;
}

footer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background-color: grey;
    border-radius: 1rem;
}

.footer-image {
    width: 60px;
    height: auto;
}